.parent {
  .featureContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .feature {
      width: 200px;
      padding: 5px 0 0 5px;
      border: 2px solid black;
      height: 70px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      .featureNumber {
        font-size: 25px;
      }
    }
  }
  .filterContainer {
    border: 1px solid grey;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    div {
      display: flex;
      align-items: start;
      flex-direction: column;
      p {
        font-size: 20px;
        font-weight: bold;
      }
      select,
      input {
        min-width: 200px;
        padding: 3px;
      }
    }
    div:nth-child(3) > select {
      width: 200px;
    }
  }
  .tableContainer {
    margin-top: 10px;
    text-align: center;
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    button {
      padding: 5px;
      margin-right: 5px;
      cursor: pointer;
    }

    button:last-child {
      margin-right: 0;
    }
    .paginationContainer {
      float: right;
      margin-top: 10px;
    }
  }
}
